<!DOCTYPE html>                                   <p>		A=𐐅    B=𐐆    C=𐐇    D=𐐈    E=𐐉    F=𐐊    G=𐐋    H=𐐌    I=𐐍    J=𐐎    K=𐐏    L=𐐐    M=𐐑    N=£    O=𐐓    P=𐐔    Q=€    R=𐐖    S=𐐗    T=𐐘    U=𐐙    V=𐐚    W=%    X=𐐜    Y=𐐝    Z=𐐞
<html style="height: 100%;">                                                             
<head>
    <title>Tradutor Mágico</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
</head>
<body>
    <form method="POST">
        <label for="input_text_latim">Digite a frase em latim para traduzir para mágico:</label><br>
        <input type="text" id="input_text_latim" name="input_text_latim"><br>
        <input type="submit" value="Traduzir para Mágico">
    </form>
    <form method="POST">
        <label for=" type="text" id="input_text_magico">Digite a frase em mágico para traduzir para latim:</label><br>
        <input type="text" id="input_text_magico" name="input_text_magico" oninput="convertToMagic(this)"><br>
        <input type="submit" value="Traduzir para Latim">   
    </form>
    <p>Frase traduzida: {{ magic_text }}{{ latin_text }}</p>
    <p>Fonemas: {{ phonemes }}{{ latin_text }}</p>
    <p>Descrição do processo: {{process_description}}</p>
 <script>
        const MAGIC_ALPHABET = {
    'A': '𐐅',
    'B': '𐐆',
    'C': '𐐇',
    'D': '𐐈',
    'E': '𐐉',
    'F': '𐐊',
    'G': '𐐋',
    'H': '𐐌',
    'I': '𐐍',
    'J': '𐐎',
    'K': '𐐏',
    'L': '𐐐',
    'M': '𐐑',
    'N': '£',
    'O': '𐐓',
    'P': '𐐔',
    'Q': '€',
    'R': '𐐖',
    'S': '𐐗',
    'T': '𐐘',
    'U': '𐐙',
    'V': '𐐚',
    'W': '%',
    'X': '𐐜',
    'Y': '𐐝',
    'Z': '𐐞',
};

        function convertToMagic(input) {
            let text = input.value.toUpperCase();
            let magicText = '';
            for (let i = 0; i < text.length; i++) {
                if (MAGIC_ALPHABET.hasOwnProperty(text[i])) {
                    magicText += MAGIC_ALPHABET[text[i]];
                } else {
                    magicText += text[i];
                }
            }
            input.value = magicText;
        }
    </script>
  <p>		A=𐐅    B=𐐆    C=𐐇    D=𐐈    E=𐐉    F=𐐊    G=𐐋    H=𐐌    I=𐐍    J=𐐎    K=𐐏    L=𐐐    M=𐐑    N=£    O=𐐓    P=𐐔    Q=€    R=𐐖    S=𐐗    T=𐐘    U=𐐙    V=𐐚    W=%    X=𐐜    Y=𐐝    Z=𐐞
</body>
</html>
